<div class="challenge" contenteditable="false">
    <section class="phase_01">
        <div class="trail_a">
            <label>
                <input type="text" value="" placeholder="Insira um nome" autofocus="autofocus">
                <a href="#"></a>
            </label>
            <label>
                <input type="text" value="" placeholder="Insira um nome">
                <a href="#"></a>
            </label>
        </div>
        <div class="trail_b">
            <label>
                <input type="text" value="" placeholder="Insira um nome">
                <a href="#"></a>
            </label>
            <label>
                <input type="text" value="" placeholder="Insira um nome">
                <a href="#"></a>
            </label>
        </div>
    </section>
    <section class="phase_02">
        <div class="trail_a">
            <label>
                <input type="text" value="" disabled>
                <a href="#"></a>
            </label>
        </div>
        <div class="trail_b">
            <label>
                <input type="text" value="" disabled>
                <a href="#"></a>
            </label>
        </div>
    </section>
    <section class="phase_03">
        <div class="trail_a">
            <label>
                <input type="text" value="" disabled>
                <a href="#"></a>
            </label>
        </div>
    </section>
</div>
<a href="#" class="clean">Limpar tabela</a>
<router-outlet></router-outlet>